@model EmployeeManagement.Models.EmployeeLeave

@{
    ViewData["Title"] = "Apply Leave";
    var userEmail = TempData["userEmail"] as string;
}
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>
<title>Apply Leave</title>
<h4>Apply Leave</h4>
<hr />
<form asp-action="ApplyLeave">
    <table>
        <tr>
            <td>
                <label asp-for="EmployeeName" class="control-label"></label>
            </td>
            <td>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="StartDate" class="control-label"></label>
            </td>
            <td>
                <input asp-for="StartDate" class="form-control datepicker" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="EndDate" class="control-label"></label>
            </td>
            <td>
                <input asp-for="EndDate" class="form-control datepicker" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="LeaveType" class="control-label"></label>
            </td>
            <td>
                <select asp-for="LeaveType"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<LeaveTypeEnum>()">
                    <option>Select type ...</option>
                </select>
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Comments" class="control-label"></label>
            </td>
            <td>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <input type="submit" value="Submit Request" class="btn btn-primary" />
                </div>
            </td>
        </tr>
    </table>
    @*<form >
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="EmployeeName" class="control-label"></label>
                        <input asp-for="EmployeeName" class="form-control" />
                        <span asp-validation-for="EmployeeName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="StartDate" class="form-control datepicker"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="form-control datepicker"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LeaveType" class="control-label"></label>
                        <select asp-for="LeaveType"
                                class="form-control"
                                asp-items="Html.GetEnumSelectList<LeaveTypeEnum>()">
                            <option>Select type ...</option>
                        </select>
                        <span asp-validation-for="LeaveType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RequestDate" class="form-control datepicker"></label>
                        <input asp-for="RequestDate" class="form-control" />
                        <span asp-validation-for="RequestDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comments" class="control-label"></label>
                        <input asp-for="Comments" class="form-control" />
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>

                </div>
            </div>

        </form>*@

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</form>

