@model EmployeeManagement.Models.EmployeeLeave

@{
    ViewData["Title"] = "EditLeave";
    var role = TempData["Role"] as string;
}

<title>Edit Leave Request</title>
<form asp-action="EditLeaveRequest">
    <table>
        <tr hidden="hidden">
            <td>
                <label asp-for="EmployeeId" class="control-label"></label>
            </td>
            <td>
                <input asp-for="EmployeeId" class="form-control" disabled="disabled" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="EmployeeName" class="control-label"></label>
            </td>
            <td>
                <input asp-for="EmployeeName" class="form-control" disabled="disabled" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="StartDate" class="control-label"></label>
            </td>
            <td>
                <input asp-for="StartDate" class="form-control datepicker" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="EndDate" class="control-label"></label>
            </td>
            <td>
                <input asp-for="EndDate" class="form-control datepicker" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="LeaveType" class="control-label"></label>
            </td>
            <td>
                <select asp-for="LeaveType"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<LeaveTypeEnum>()">
                    <option>Select type ...</option>
                </select>
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Comments" class="control-label"></label>
            </td>
            <td>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </td>
        </tr>
        @if (role == "Admin" || role == "Manager")
        {
            <tr>

                <td>
                    <div class="form-group">
                        <input type="submit" value="Approve Request" class="btn btn-primary" />
                    </div>

                </td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Reject Request" class="btn btn-primary" />
                    </div>
                </td>
            </tr>
        }
        <tr>
            <td>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </td>
        </tr>
    </table>
</form>





